@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="ombre-font">Welkom bij Popcorn house!</h1>
    <p class="ombre-font2">De plek om te ontspannen</a>.</p>
    <img src="Css/Afbeeldingen/popcornhouse.png" height="140" width="104" class="left-align">

</div>


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />