@model List<string>
@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="ombre-font">Welkom bij Popcorn house!</h1>
        <p class="ombre-font2">Nummer 1 bioscoop van Nederland met momenteel ruim 20 films op de agenda!</p>
       <img src="css/Afbeeldingen/popcornhouse.png" height="200" width="150" class="left-align">
</div>



<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />