@model List<string>
@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="ombre-font">Welkom bij Popcorn house!</h1>
        <p class="ombre-font2">Check onze nieuwste films!</a>.</p>
        <img src="css/Afbeeldingen/popcornhouse.png" height="140" width="104" class="left-align">
        <img src="css/Afbeeldingen/spiderverse_01.png" height="240" width="204"
</div>



<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />