@{
 
}
<h1>@ViewData["Title"]</h1>

 <div class="text-center">
 <h1 class="ombre-font">Over Ons</h1>
  <p class="ombre-font2">Hier is te vinden waar wij zijn gevestigd zijn en hoe er contact kan worden opgenomen met ons.</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.3136994687334!2d4.352136577098754!3d52.07401907194777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7ae9b3f5113%3A0x43bbf4e17ce20c14!2sAart%20van%20der%20Leeuwkade%2C%20Voorburg!5e0!3m2!1snl!2snl!4v1686563995218!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <p class="ombre-fontoo"><br />Adres: <br />Aart van der Leeuwkade 14 <br />2274 KX Voorburg</p>
 <p class="ombre-fontoo"><br />Email: <br />popcornhouse@gmail.com <br />Telefoonnummer<br />070 386 7272</p>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />