@{
 
}
<h1>@ViewData["Title"]</h1>

 <div class="text-center">
 <h1 class="ombre-font">Over Ons</h1>
  <p class="ombre-font2">Hier is te vinden waar wij zijn gevestigd zijn en hoe er contact kan worden opgenomen met ons.</p>
 </div>

 <p class="ombre-fontoo">Adres: <br />Aart van der Leeuwkade 14 <br />2274 KX Voorburg</p>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />