header {
    background: linear-gradient(to bottom, #990000 0%, #ff0000 100%);
}


.contactform label {
    width: 100px;
}

.contactform .field-validation-error {
    color: darkred;
    margin-left: 10px;
}

p {
    display: block;
    
}
.bg {
    background-image: url(Afbeeldingen/gordijn.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.left-align {
    float: left;
    margin-top: -10px;
    margin-right: 10px; /* optioneel: voegt een kleine marge toe aan de rechterkant van de afbeelding */
}

.ombre-font {
    margin-top: 150px;
    font-size: 50px; /* Vervang dit door de gewenste lettergrootte */
    color: darkred; /* Vervang dit door de gewenste tekstkleur */
    text-shadow: 2px 2px 4px rgba(139, 0, 0, 0.5), 2px 2px 4px rgba(187, 26, 26, 0.5), 3px 3px 5px rgba(255, 0, 0, 0.5);
}

.ombre-font2 {
    font-size: 18px;
    color: #F05E00;
    text-shadow: 1px 1px 2px rgba(139, 0, 0, 0.5), 2px 2px 4px rgba(187, 26, 26, 0.5), 3px 3px 5px rgba(255, 0, 0, 0.5);
}

.ombre-fontcc {
    margin-top: 150px;
    font-size: 50px;
    color: #F05E00;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(139, 0, 0, 0.5), 2px 2px 4px rgba(187, 26, 26, 0.5), 3px 3px 5px rgba(255, 0, 0, 0.5);
}

navbar {
    background: red
}